<% for result in @search_results do %>
	<% if result.is_premium == 1 %>
	<div class="search_result_premium">
	<% else %>
	<div class="search_result">
	<% end %>
		<div class="result_title">
			<%= link_to (result.name + ", " + result.location + ", " + result.city),
			 			business_path(result.id)%>
			
			<% unless @current_location.lat == 0 and @current_location.lng == 0  %>
				<div class="distance">
					<% if result.distance.truncate == 0 %>
						<%= (result.distance * 100).truncate %> m
					<% else %>
						<%= pluralize result.distance.truncate, "km" %>
					<% end %> from <%= @current_location_name %>
				
				
				</div>
			<% end %>
		</div> 
		<div class="result_description">
			
			<%= result.contact_phone %><br/>
			<%= result.description %>
		</div>
		<div class="result_sub_cat">
			<% for sub_category in result.sub_categories do %>
				<%= link_to sub_category.sub_category,	
		 					search_index_path(:names_and_categories=>sub_category.sub_category,:search_type => 'category') %>&nbsp;&nbsp;
			<% end %>
		</div>
	</div>
	<br style="clear:both" />
<% end %>