<p><%= @text %></p>
<% for result in search_results do %>

	<div class="search_result">
		<div class="result_title"><%= link_to (result.name + ", " + result.location + ", " + result.city), business_path(result.id)%></div> 
		<div class="result_description">
			<%= result.contact_phone %><br/>
			<%= result.description %>
		</div>
		<div class="result_sub_cat">
			<% for sub_category in result.sub_categories do %>
				<%= link_to sub_category.sub_category, 
							search_path(:sub_category => sub_category.sub_category)%>&nbsp;&nbsp;
			<% end %>
		</div>
	</div>
	<br style="clear:both" />
<% end %>