<h1>Editing business</h1>

<h3>Edit Business Details</h3>
<div class="form">
	
	<% form_for [@member,@business],:html => { :multipart => true } do |f| %>
	  	<%= f.error_messages %>
	  	<fieldset>
		<p>
			<%= f.label (:name, "Business Name") %>
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label (:city, "City") %>
			<%= f.collection_select :city, City.all, :city, :city, :include_blank => 'None' %>
		</p>
		    <%= observe_field "business_city",
		           				:url => {:controller => "businesses", :action =>"get_locations"},
		             			:with => "business_city",
		             			:update => "business_location" %>

		<p>
			<%= f.label (:location, "Location") %>
			<%= f.collection_select :location, Location.all, :location, :location, :include_blank => 'None' %>
		</p>
		<p>
			<%= f.label (:category, "Category") %>
			<%= f.collection_select :category, Category.all, :category, :category, :include_blank => 'None' %>
		</p>
		<%= observe_field "business_category",
	           				:url => {:controller => "businesses", :action =>"get_sub_categories"},
	             			:with => "business_category",
	             			:update => "business_sub_category" %>
		<p>
			<%= f.label (:sub_category, "Sub-Category") %>
			<%= f.collection_select :sub_category, SubCategory.all, :sub_category, :sub_category, :include_blank => 'None' %>
		</p>
		<p>
			<%= f.label (:contact_name, "Contact Name:") %>
			<%= f.text_field :contact_name %>
		</p>
		<p>
			<%= f.label (:contact_phone, "Contact Phone:") %>
			<%= f.text_field :contact_phone %>
		</p>
		<p>
			<%= f.label (:contact_email, "Contact Email:") %>
			<%= f.text_field :contact_email %>
		</p>
		<p>
			<%= f.label (:contact_website, "Contact Website:") %>
			<%= f.text_field :contact_website %>
		</p>
		<p>
			<%= f.label (:contact_address, "Contact Address:") %>
			<%= f.text_area :contact_address, :size => "26x3" %>
		</p>
		<p>
			<%= f.label (:opening_tim, "Opening Time:") %>
			<%= f.time_select :opening_time %>
		</p>
		<p>
			<%= f.label (:closing_tim, "Closing Time:") %>
			<%= f.time_select :closing_time %>
		</p>
		<p>
			<%= f.label (:description, "Description:") %>
			<%= f.text_area :description, :size => "26x3" %>
		</p>
		<p>
			<%= f.label (:photo, "Photo:") %>
			<%= f.file_field :photo %>
		</p>
		<p>
			<%= f.label (:map, "Map:") %>
			<%= f.text_field :map %>
		</p>

	 	<p>
	    	<%= f.submit 'Add Business' %>
	  	</p>
		</fieldset>
	<% end %>

