<h1>Editing business</h1>

<h3>Edit Business Details</h3>
<div class="form">
	
<% form_for [@member, @business] do |f| %>
  	<%= f.error_messages %>
  	<fieldset>
	<div>
		<%= f.label (:name, "Business Name") %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label (:location, "Location") %>
		<%= f.select (:location, %w{Patel_Nagar Rajiv_Chowk}) %>
	</div>
	<div>
		<%= f.label (:city, "City") %>
		<%= f.select (:city, %w{Delhi}) %>
	</div>
	<div>
		<%= f.label (:category, "Category") %>
		<%= f.select (:category, %w{Chemist Restaurant Healtcare}) %>
	</div><br/>
 	<div>
    	<%= f.submit 'Update' %>
  	</div>
	</fieldset>
<% end %>

