<h2>Listing businesses</h2>

	<table>
		<tr id="label">
			<td>Business Name</td>
			<td>Owner Name</td>
			<td>Category</td>
			<td>Locality</td>
			<td>City</td>
		</tr>
		<% @businesses.each do |business| %>
  		<tr>
			<td><%= link_to "#{business.name}", business_path(business.id)%></td> 
			<td><%= business.owner %></td>
			<td><%= business.category %></td>
			<td><%= business.location %></td>
			<td><%= business.city %></td>
		</tr>
		<% end %>
	</table>
<% if session[:logged_in] == true %>
	<p><%= link_to "Profile", member_path(session[:member_id])%></p>
<% end %>