<h1>Change Password</h1>
<div class="form">

<% form_for :user, @user, :url => { :action => "save_password"} do |f| %>
	<%= f.error_messages %>
	<fieldset>		
	<div>
		<%= f.label (:password, "Password") %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label (:password_confirmation, "Confirm") %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit "Save Changes" %>
	</div>
	</fieldset>
<% end %>
</div>
