<h2>Login</h2>
<div class="login_form">

<% form_for :user, @user, :url => { :action => "authenticate"} do |f| %>
	<%= f.error_messages %>
	<fieldset>	
	<div>
		<%= f.label (:email, "Email") %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label (:password, "Password") %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.submit "Login" %>
	</div>
	</fieldset>
<% end %>
</div>
