<p><%= link_to "Admin Members", admin_members_path %></p>
<p><%= link_to "Admin Businesses", admin_businesses_path %></p>
<p><%= link_to "Admin-Locations", admin_locations_path %></p>
<p><%= link_to "Admin-Cities", admin_cities_path %></p>
<p><%= link_to "Admin-Categories", admin_categories_path %></p>
<p><%= link_to "Admin Sub-Categories", admin_subcategories_path %></p>

