<p><%= link_to "Member Administration", admin_members_path %></p>
<p><%= link_to "Business Administration", admin_businesses_path %></p>
<p><%= link_to "Location Administration", admin_locations_path %></p>
<p><%= link_to "City Administration", admin_cities_path %></p>
<p><%= link_to "Category Administration", admin_categories_path %></p>
<p><%= link_to "Sub-Category Administration", admin_subcategories_path %></p>

