<%= "<div class=business_box id=#{business.id} >"%>
	<h2><%= link_to "#{business.name}", business_path(business.id)%>, <%= business.location %>    
    	<span class="sideDetail">Listed in INFOMEDIA YELLOW PAGES</span> 
	</h2> 
	<div class="resultInfo"> 
  		<p class="phone"><%= business.contact_phone %></p> 
  		<p><%= business.contact_address %></p> 
  		<p class="tags"><%= business.category %></p> 
	</div> 
	<div class="links"> 
		<% if owned_business %>
    		<%= link_to "Edit Business", edit_member_business_path(member.id, business.id)%>
			<%= link_to "Delete business", member_business_path(member.id, business.id), 
										   :method => :delete, :confirm => "Are you sure?" %>
		<% else %>
			<a href="#">Send to Phone</a> 
			<%= link_to_remote "Remove from My List", {:url => remove_favorite_business_path(business.id), 
													   :method => :delete, :confirm => "Are you sure?"}%>
		<% end %>
	</div>
		
</div>