<div class="form">
<% form_for member, :html => { :multipart => true } do |f| %>
  	<%= f.error_messages %>
  	<fieldset>
	<i>Fields marked with * are compulsory</i>
	<p>
		<%= f.label(:first_name, "First Name*") %>
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label(:last_name, "Last Name*") %>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label(:email, "Email*") %>
		<%= f.text_field :email %>
	</p>
	<% if new_form %>
		<p>
			<%= f.label(:password, "Password*") %>
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.label(:password_confirmation, "Confirm Password*") %>
			<%= f.password_field :password_confirmation %>
		</p>
	<% end%>
	<p>
		<%= f.label(:phone_number, "Phone Number*") %>
		<%= f.text_field :phone_number %>
	</p>
	<p>
		<%= f.label(:address, "Address*") %>
		<%= f.text_area :address, :cols => 29, :rows => 3 %>
	</p>
	<p>
		<%= f.label :photo, "Photo" %>
		<% if new_form == false and @member.photo != nil %>
		<%= image_tag @member.photo.url(:thumb) %>
		<% end %>
		<%= f.file_field :photo %>
	</p>
	<p>
		<%= f.submit submit_label %>
	</p>
</fieldset>
  
<% end %>
</div>