<h1>Change Password</h1>


<div class="form">
<% form_for :member, @member, change_password_member_path  do |f| %>
  	<%= f.error_messages %>
  	<fieldset>
	<div>
		<%= f.label (:password, "Password") %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label (:password_confirmation, "Confirm Password") %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit "Change Password" %>
	</div>
</fieldset>
  
<% end %>
</div>

