<h1>Edit Profile</h1>
<div class="form">
<% form_for(@member) do |f| %>
  	<%= f.error_messages %>
  	<fieldset>
	<div>
		<%= f.label (:first_name, "First Name") %>
		<%= f.text_field :first_name %>
	</div>
	<div>
		<%= f.label (:last_name, "Last Name") %>
		<%= f.text_field :last_name %>
	</div>
	<div>
		<%= f.label (:email, "Email") %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label (:phone_number, "Phone Number") %>
		<%= f.text_field :phone_number %>
	</div>
	<div>
		<%= f.label (:address, "Address") %>
		<%= f.text_area :address, :cols => 29, :rows => 3 %>
	</div>
	<div>
		<%= f.submit "Update" %>
	</div>
</fieldset>
  
<% end %>
</div>


<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>

