<div id="welcome_message">
	<% if @member %>
		Welcome, <%= @member.first_name %>
	<% end %>
</div>
<div class="search">
	<div class="search_field">
		<% form_tag(search_path, :method => "get") do %>  
			<fieldset>
				<%= text_field_with_auto_complete "",:city, {:value=>"City Name"}, { 
											:url => cities_path(:js),
											:method => :get, 
											:with => "'search=' + element.value", 
											#:tokens => [",","\s"]
										 }%>
				<%= text_field_with_auto_complete "", :location, {:value=>"Location"}, { 
											:url => locations_business_path(:js),
											:method => :get, 
											:with => "'city=' + document.getElementById('_city').value + '&' + 'search=' + element.value", 
											#:tokens => [",","\s"]
										}%>		
				<%= text_field_with_auto_complete "", :sub_category_name, {:value => "Product/Service Category"},
				 						{ 	:url => sub_categories_path(:js),
											:method => :get, 
											:with => "'search=' + element.value", 
											#:tokens => [",","\s"]
										}%>	
				<%= text_field_with_auto_complete "", :name, {:value => "Name"},
										{ 	:url => business_names_business_path(:js),
											:method => :get, 
											:with => "'search=' + element.value", 
											#:tokens => [",","\s"]
										}%>		
	 
			<%= submit_tag("Search") %> </fieldset>
		<% end %> 
	</div>
</div>
<div class="search_tags">

	<h4>Cities</h4>
		<p>	<% for city in @cities %>
				<%= link_to city.city, search_path(:city=>city.city)%>&nbsp;&nbsp;
			<%end%>
		</p>
	<h4>Popular Categories</h4>
		<% for category in @categories %>
			<div class="category_list"><h4><%= category.category %></h4>
				<% for sub_category in category.sub_categories do %>
						<%= link_to sub_category.sub_category,	
				 					search_path(:sub_category_name=>sub_category.sub_category) %> |
				<%end%></div>
		<%end%>
</div>