<h2><%= @member.first_name %> <%= @member.last_name %></h2>
<div id="ajax_response" style="display:none">
	<div id="message">Password Changed.</div>		
</div>

<div class="photo_col">
	<%= image_tag @member.photo.url(:thumb) %>
	<div class="profile_links">  
		<p><%= link_to_function "Change Password", 
							"$('change_password').toggle();"%></p>
		<p><%= link_to "Edit Profile", edit_member_path(@member.id) %></p>
		<p><%= link_to "Delete Profile", member_path(@member.id), 
										:method => :delete, :confirm => "Are you sure?" %>
		</p>
	</div>
</div>


<div class="member_profile">
	<table id="profile">
		<tr>
			<td id="label">Name:</td>
			<td id="member_details"><%= @member.full_name %></td>
		</tr>
		<tr>
			<td id="label">Email:</td>
			<td id="member_details"><%= @member.email %></td>
		</tr>
		<tr>
			<td id="label">Phone No:</td>
			<td id="member_details"><%= @member.phone_number %></td>
		</tr>
		<tr>
			<td id="label">Address:</td>
			<td id="member_details_address"><%= @member.address %></td>
		</tr>
	</table>
	
	<%= link_to "All Businesses", businesses_path %> |
	<%= link_to "My Businesses", show_my_businesses_member_path(@member.id) %> |
	<%= link_to "My List", show_list_member_path(@member.id)%>
	
	<div id="change_password" style="display:none">
		<div class="form">
			<% remote_form_for :member, @member, :url => update_password_member_path(@member.id) do |f| %>
		  		<%= f.error_messages %>
		  		<fieldset>
					<p><b>Change Password</b></p>
					<div>
						<%= f.label (:password, "Password") %>
						<%= f.password_field :password %>
					</div>
					<div>
						<%= f.label (:password_confirmation, "Confirm Password") %>
						<%= f.password_field :password_confirmation %>
					</div>
					<div>
						<%= f.submit "Change Password" %>
					</div>
				</fieldset>

			<% end %>
		</div>


	</div>	
</div>

	