<h2><%= @member.first_name %> <%= @member.last_name %></h2>
<div class="photo_col">
	<%= image_tag @member.photo.url(:thumb) %>
	<div class="profile_links">  
		<p><%= link_to "Change Password", change_password_member_path(session[:member_id]) %></p>
		<p><%= link_to "Edit Profile", edit_member_path(session[:member_id]) %></p>
		<p><%= link_to "Delete Profile", member_path(session[:member_id]), :method => :delete, :confirm => "Are you sure?" %></p>
	</div>
</div>


<div class="member_profile">
	<table id="profile">
		<tr>
			<td id="label">Name:</td>
			<td id="member_details"><%= @member.first_name %> <%= @member.last_name %></td>
		</tr>
		<tr>
			<td id="label">Email:</td>
			<td id="member_details"><%= @member.email %></td>
		</tr>
		<tr>
			<td id="label">Phone No:</td>
			<td id="member_details"><%= @member.phone_number %></td>
		</tr>
		<tr>
			<td id="label">Address:</td>
			<td id="member_details_address"><%= @member.address %></td>
		</tr>
		<tr>
			<td id="label">My Businesses:</td>
			<td id="member_details">
				<ul><% for business in @owned_businesses do %>
						<li><%= link_to "#{business.name}" , business_path(business.id) %></li>
					<% end %>
					
				</ul>
			</td>
		</tr>
	</table>
	<div class="manage_links">
		<p><%= link_to "Add Business" , new_member_business_path(session[:member_id]) %><br>
		<%= link_to "List of Businesses", businesses_path%></p>
	</div>
	
</div>
	<div class="member_favorites">
		<table id="profile">
			<tr>
				<td id="label">My List:</td>
			</tr>
			<tr>
				<td id="member_details">
				<ul><% for business in @favorite_businesses do %>
						<li><%= link_to "#{business.name}" , business_path(business.id) %></li>
					<% end %>
					
				</ul>
				</td>
			</tr>
		</table>
	</div>
